@{
    ViewData["Title"] = "O projekcie";
}
<h1>@ViewData["Title"]</h1>
<br><br>
<h2>Projekt pirometru ze zmienną emisyjnością</h2>
<h5>Telemedycyna Projekt</h5>
<p>Autorzy: <b>Łukasz Plech</b> oraz <b>Marcin Skomro</b></p>